<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Company Details</title>
   <link rel="stylesheet" href="jobs.css"> 
</head>
<body> -->
  <header>
    
    <h1><strong>JOBS PROVIDER</strong> </h1>
  </header>
  <main>
     <section>
       <div class="card">
          <img src="assets/img/download (1).jpg" alt="TCS">
          <h1>Tata Consultancy Services </h1>
          <p class="title">Information Technologies</p>
          <p class="title">Tata Consultancy Services is an IT services, consulting, and business solutions organization that has been partnering with many of the world's largest businesses in their transformation journeys for over 50 years.</p>
          <p>Placement:92%</p>
          <h2>Company website:</h2>
          <a href="https://www.tcs.com/"> Website link</a>
       </div>
       <div class="card">
          <img src="assets/img/infosys.png" alt="INFOSYS">
          <h1>Infosys Technologies Private Limited  </h1>
          <p class="title">Information System</p>
          <p class="title">Infosys is a global leader in next-generation digital services and consulting. We enable clients in more than 50 countries to navigate their digital transformation.</p>
          <p>Placement:96%</p>
          <h2>Company website:</h2>
          <a href="https://www.infosys.com/">Visit Example Website</a>
       </div>
       <div class="card">
          <img src="assets/img/congnizant.jpg" alt="CONGNIZANT">
          <h1>Cognizant Technology Solutions Ltd</h1>
          <p class="title">largest global professional services companies</p>
          <p class="title">Cognizant Technology Solutions Corporation is an American multinational information technology services and consulting company. It is headquartered in Teaneck, New Jersey, U.S. Cognizant is part of the NASDAQ-100 and trades under CTSH.</p>
          <p>Placement:90%</p>
          <h2>Company website:</h2>
          <a href="https://www.cognizant.com/in/en">Visit Example Website</a>
      </div>
       <div class="card">
          <img src="assets/img/capgemini.png" alt="CAPGEMINI">
          <h1>Capgemini Technology Services India Limited</h1>
          <p class="title">Information technology company</p>
          <p class="title">Capgemini partners with companies to transform and manage their business by unlocking the value of technology.</p>
          <p>Placement:88%</p>
          <h2>Company website:</h2>
          <a href="https://www.capgemini.com/">Visit Example Website</a>
      </div>
        <div class="card">
          <img src="assets/img/wipro.png" alt="WIPRO">
          <h1>Western India Palm Refined Oils</h1>
          <p class="title">multinational corporation</p>
          <p class="title">The full form of WIPRO is Western India Palm Refined Oils Limited. WIPRO is a multinational corporation that provides information technology, consulting, and business process services.</p>
          <p>Placement:95%</p>
          <h2>Company website:</h2>
          <a href="https://www.wipro.com/">Visit Example Website</a>
      </div>
         <div class="card">
          <img src="assets/img/deloitte.jpg" alt="DELOITTE">
          <h1>Deloitte Touche Tohmatsu Limited</h1>
          <p class="title">DTT International</p>
          <p class="title">Deloitte is a leading global provider of audit and assurance, consulting, financial advisory, risk advisory, tax, and related services. Deloitte currently has approximately 455,000 people in more than 150 countries and territories.</p>
          <p>Placement:98%</p>
          <h2>Company website:</h2>
          <a href="https://www2.deloitte.com/">Visit Example Website</a>
      </div>
      
    </section>
  </main>
<!-- </body> -->
<!-- </html> -->


