<div class="All">
<div class="content">

  <div class="header" id="header">
    <div class="nav">
     <label></label>
     <div class="switchs">
      <button style="font-weight: bold;" class="log" id="log" [routerLink]="['']"><i class="fa fa-home"></i>Home</button>
      <!-- <button class="fa fa-home" [routerLink]="['/welcomepage']">New</button> -->
      <button style="font-weight: bold;" class="log" id="log" onclick="location.href='#Our services';"><i class="fa fa-cog"></i> Services</button>
      <button style="font-weight: bold;" class="log" id="log" [routerLink]="['/login']"><i class="fa fa-sign-in"></i> LOGIN</button>
      <button style="font-weight: bold;" class="create_acc" id="create_acc" [routerLink]="['/registration']"><i class="fa fa-user-plus"></i> CREATE ACCOUNT</button>
    </div>
  </div>
  <div class="main">
    <div class="text">

      <h1 style="margin-left: -10%;color: rgb(249, 237, 246); font-family: Verdana;">E-Learning Management System</h1><br>
      <h4 style="font-family: monospace; font-weight: bolder; margin-left: -8%; color: rgb(124, 73, 73);">Developed by - QUANTUMSOFT PVT LIMITED</h4><br><br>

    </div><br>
   // <img class="floating" id="img3" [src]="'assets/img/lms-bg.png'">//
  </div>
</div>
<br>
</div>
<br><br>
<marquee class="marquee" direction="left">🔔 "Quantumsoft Technologies is an online educational platform that helps you discover and develop your skills,technology- related skills through expert-led courses." </marquee>
<section id="about" class="about about-bg">
<div class="about-container">
    <div class="subtext1" id="subtext1"><span class="counter">01</span> &nbsp;Why Quantumsoft Technologies Better? <i id="subtext1" class="fa fa-caret-down"></i></div>
      <div class="innertext1" id="innertext1"><b style="color: darkmagenta; font-size: larger; font-weight: bolder;">Quantumsoft Technologies</b>is one of the best study websites for students that focuses on offering information and learning opportunities in the fields of art, humanities, and science. The website is partnered with some of the highly regarded institutions, giving you access to a vast collection of courses and study materials.</div>
</div>
<div class="about-container">
      <div class="subtext1" id="subtext2"><span class="counter">02</span> &nbsp;Three Different Modes<i id="subtext2" class="fa fa-caret-down"></i></div>
      <div class="innertext1" id="innertext2">This elearning Portal has three different modes of working as <b style="color:darkblue; font-size: larger; font-weight: bolder;">ADMIN, PROFESSOR & USER.</b> Each of them can access to their respective features and perform their task accordingly. (by default, the ADMIN will be <b style="color: darkgreen; font-size: larger; font-weight: bolder;"> </b><b style="color: darkred;">(portal creator)</b></div>
</div>l
<div class="about-container">
      <div class="subtext1" id="subtext3"><span class="counter">03</span> &nbsp;Who can enrol in Quantumsoft Technologies Better Courses? <i id="subtext3" class="fa fa-caret-down"></i></div>
      <div class="innertext1" id="innertext3">Quantumsoft Technologies courses are open to anyone willing to learn new things. There is no limitation with respect to your educational background or stage of study. The courses are especially beneficial for people who have jobs or other commitments and therefore want to learn from scratch at their own pace. Also, if you have already done some courses and want our placement services, you can enrol in any of the two courses and be eligible for placements just after clearing the competency tests.<b style="color: darkgreen; font-size: larger; font-weight: bolder;">video based lectures</b> and <b style="color: darkgreen; font-size: larger; font-weight: bolder;">website based lectures.</b> The <b style="color: darkred; font-size: medium; font-weight: bolder;">ADMIN</b> or <b style="color: darkred; font-size: medium; font-weight: bolder;">PROFESSOR</b> can specify the course type while adding a new course</div>
</div>
<div class="about-container">
  <div class="subtext1" id="subtext4"><span class="counter">04</span> &nbsp;Frequently asked questions<i id="subtext4" class="fa fa-caret-down"></i></div>
  <div class="innertext1" id="innertext4"> Q.1 When will the placement process start? <br>Once you clear the Foundation Track you will earn a certificate of completion. Post that you will be eligible to participate in our placement drive called QuantX.<br>Q.2 How many hiring partners does Quantumsoft Technologies have?<br>We currently have partnerships with 700+ companies ranging from high growth startups to large MNCs. However, owing to our relentless pursuit, this number keeps increasing as we have been constantly expanding our network of hiring partners.<br> Q.3 Does Quantumsoft Technologies provide job-switching assistance?<br>Yes, we believe in making a long-term relationship with our students. We will help you in switching jobs through our strong alumni network.</div>
</div>
<div class="about-container">
      <div class="subtext1" id="subtext5"><span class="counter">05</span> &nbsp;Is there any selection test for enroling in Quantumsoft Technologies courses?<i id="subtext5" class="fa fa-caret-down"></i></div>
      <div class="innertext1" id="innertext5"><b style="color: darkgreen; font-size: larger; font-weight: bolder;"> No </b> you don't have to take any test to enrol in the courses that we offer</div>
</div><br>
 <img class="automation" [src]="'assets/img/portalimg.gif.gif'" width="470" height="420">

</section>




<footer>
  <div class="footer-container">
      <div class="footer-section">
          <h3>Get to Know Us</h3>
          <ul>
              <li><a [routerLink]="['/aboutus']">About Us</a></li>
              <li><a [routerLink]="['/referearn']">Refer and earn </a></li>
              <li><a [routerLink]="['/jobs']">jobs </a></li>
              <li><a [routerLink]="['/placements']">Placement</a></li>
          </ul>
      </div>
      <div class="footer-section">
          <h3>Connect with Us</h3>
          <ul>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Instagram</a></li>
          </ul>
      </div>
      <div class="footer-section">
          <h3>Our services</h3>
          <ul>
              <li><a [routerLink]="['/registration']">Hire From Us</a></li>
              <li><a [routerLink]="['/review']">Reviews</a></li>
              <li><a href="https://www.google.com/maps/search/?api=1&query=20.923377846140507, 77.76937754212156" target="_blank">Company Location</a></li>
              <li><a [routerLink]="['/privacypolicy']">Privacy policy </a></li>
            
              <li><a [routerLink]="['/termcondition']">Terms & condition  </a></li>
          
              <li><a [routerLink]="['/events']">Events  </a></li>
              
              
          </ul>
      </div>
      <div class="footer-section">
          <h3>Contact Us </h3>
          <ul>
              <li>
                
                Company Name
                
                QUANTUMSOFT TECHNOLOGIES PRIVATE LIMITED
                
                Company Status : Active
                
                RoC-Mumbai<br><br>
                
                Registration Number-363878 <br><br>
                HOUSE NO 19 SURWADI, TIWASA AMRAVATI Amravati MH 444707 IN<br><br>
                contact : 9999999911
             </ul>
      </div>
  </div>
</footer>








<!-- <main id="main">
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2 style="font-family: aladin; color: rgb(3, 34, 34);">User friendly portal for Learning</h2>
    </div>
    <div class="mid_body2">
      <div class="details">
        <div class="detail_1" (click)="navigate()" style="background-color: rgb(19, 104, 97); margin-right: 5%;">
          <h2 style="font-weight: bolder; font-size: 35px;font-family: monospace; margin-top: 5%; color: white;"> Admin </h2>
          <div class="circle" style="border-radius: 50%; background-color: rgb(244, 234, 234); padding: 10%;">
              <img [src]="'assets/img/admin.png'" width="130" height="130">
          </div>
        </div>
        <div class="detail_2" (click)="navigate()" style="background-color: rgb(19, 104, 97); margin-right: 5%;">
          <h2 style="font-weight: bolder; font-size: 35px;font-family: monospace; margin-top: 5%; color: white;"> Professor </h2>
          <div class="circle" style="border-radius: 50%; background-color: white; padding: 10%;">
              <img [src]="'assets/img/femaleprofessor.png'" width="130" height="130">
          </div>
      </div>
        <div class="detail_3" (click)="navigate()" style="background-color: rgb(19, 104, 97); margin-right: 5%;">
          <h2 style="font-weight: bolder; font-size: 35px;font-family: monospace; margin-top: 5%; color: white;"> User </h2>
          <div class="circle" style="border-radius: 50%; background-color: white; padding: 10%;">
              <img [src]="'assets/img/male.png'" width="130" height="130">
          </div>
      </div>
      </div>
    </div>
  </div>
</section>
</main> -->
</div>
<app-footer> </app-footer>
