<div class="sidebar-logo">

    <div class="welcometxt" style="float: left;"><b style="color: white;">{{title}}</b></div>
    <div *ngFor="let user of profileDetails | async" id="bloodCards"></div>
     <button class="logoutbtn" style="margin-right: 1%;" (click)="navigateHome()"><i class="fa fa-home"></i>Home</button> 
     
    <b class="sidebar-text" style="color: whitesmoke;"><i class="fa fa-user"></i> Welcome {{loggedUser}}</b>
     
    <button class="logoutbtn" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</button>
    <!-- <button class="log" (click) ="welcome()"><i class="fa fa-sign-out"></i> Welcome</button> -->
    <!-- <button class="fa fa-home" (click)="navigateHome">New</button> -->
     
</div>

