

<header>
    
    <h1>Student Placement</h1>
    <!-- <link rel="stylesheet" href="placements.component.css"> -->
  </header>
  <main>
     <section>
       <div class="card">
          <img src="assets/img/monali.jpeg" alt="photo">
          <h1>Monali Gawarguru </h1>
          <p>Placement: TCS</p>
          <P>PKG : 10 LPA</P>
        

       </div>
       <div class="card">
          <img src="assets/img/nikhil.jpeg" alt="photo">
          <h1>Nikhil Ade</h1>
          <p>Placement: Google</p>
          <p>PKG : 12 LPA</p>
       </div>

       <div class="card">
          <img src="assets/img/damini.jpeg" alt="photo">
          <h1>Damini Gurjar</h1>
          <p>Placement: congnizant</p>
          <p>PKG : 15 LPA</p>
       </div>

          <div class="card">
            <img src="assets/img/prasad.jpeg" alt="photo">
            <h1>Bharat Chavhan</h1>
            <p>Placement: Infosys</p>
            <p>PKG : 20 LPA</p>
          
      </div>

      <div class="card">
        <img src="assets/img/prasad1.jpeg" alt="photo">
        <h1>Prasad Walujkar</h1>
        <p>Placement: IBM</p>
        <p>PKG : 10 LPA</p>
      </div>

     <div class="card">
            <img src="assets/img/samiksha.jpeg" alt="photo">
            <h1>Samiksha Mishra</h1>
            <p>Placement: Capgemini</p>
            <p>PKG : 15 LPA</p>
        </div>
    </section>
    <app-footer></app-footer>
  </main>


